body {
  font-family: 'Raleway', sans-serif !important;;
}
/* view-index */
.logo {
  outline: 1px solid yellow
}
.grad70 {
  background: linear-gradient(125deg, rgb(54, 52, 54)45%, rgb(27, 26, 27));
}
.vh100 {
  height: 100vh;
}
.logo-food {
  font-size: 30px;
  font-weight: bold;
}
.container-flex-column {
  display: flex;
  flex-direction: column;
  transform: translateY(35vh);
  justify-content: center;
  padding: 2em;
}
/* view-fastFood */
.mt7{
  margin-top: 7vh;
}
.p0{
  padding: 0;
}
.col-yellow {
    color: rgb(230, 151, 4)
}
